/* ----------------Main Stylesheet---------------- */
@keyframes hiddenToVisible {
	0% { visibility: none; opacity: }
  1% { visibility: visible; opacity: 0.00}
	100% { opacity: 1.00; }
}

* {
  margin: 0;
  box-sizing: border-box;
  padding:0;

  text-decoration: none;
  font-size: 1rem;
  color: #1c1c1c;
}

body {
   -webkit-print-color-adjust: exact;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616161;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6f6f6f;
}

.toolbar {
    height: 5vh;
    width: 100vw;
    background-color: #2b2b2b;

		text-align: center;
		font-size: 1.25rem;
		line-height: 5vh;
		color: white;

    display: flex;
    position: relative;
}

/* user-feedback */




/* toolbar */

.empty {
  z-index: 2;
  width: 5vh;
}

.button {
  z-index: 2;
  height: 5vh;
  width: 5vh;


	line-height: inherit;
	text-align: inherit;
	color: inherit;
	font-size: inherit;
  background-color: #616161;
}

.button:hover{
    background: #6f6f6f;
}

.button:hover .user-message {
  opacity: 100%;
  visibility: visible;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.2s;
}

.user-message {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;

  text-transform: lowercase;

  font-size: 1.5em;
  padding: 10px;
  background: #6f6f6f;
  color: lightgray;

  z-index: 1000;
  opacity: 0%;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.2s;
}

input[type="file"] {
  display: none;
}

.scale-box {
  width: 5vh;
  height: inherit;

	color: inherit;
  position: absolute;
  right: 0px;
}

.scale-box-text {
  height: 100%;
  width: 100%;
	text-align: inherit;
	line-height: inherit;

	color: inherit;
  background-color: #616161;

  outline: none;
  resize: none;
  border: none;
}

.scale-box-text:hover{
    background: #6f6f6f;
}

/* editor */

.container {
  display: flex;
  height: 95vh;
}

.left-pane {
  position: relative;
  resize: horizontal;
  width: calc(100vw - calc(110mm + 72px));
}

.split-pane {
  width: 16px;
  height: 100%;
  position: relative;
  background-color: #616161;
  cursor: w-resize;
}

.split-pane:hover {
  background: #6f6f6f;
}

.right-pane {
  position: relative;
  flex: 1;
  width: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #3d3d3d;
  z-index: 1;
}

.text-editor {
  outline: none;
  resize: none;
  border: none;
  width: 100%;
  height: 100%;

  color: #ffffff;
  background-color: #3d3d3d;

  padding: 20px;
}

.preview {
  padding: 20px;

	font-size: inherit;
	transform-origin: 0% 0%;
  position: relative;
}

mark {
	color: red;
	background:red;
}
