/* ----------------Page Stylesheet---------------- */

/* fonts */

@font-face {
  font-family: "gil";
  src: url("../../static/fonts/gil/gil.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "gil_b";
  src: url("../../static/fonts/gil/gil_cb.ttf");
  font-weight: bold;
}

/* base */

html {
  --debugPageMargin: none;
  --debugImageBorder: none;
}

* {
  box-sizing: border-box;
  margin: 0;

	font-family: "gil";
}

body {
  counter-reset: images;
}

.book {
  --page-width: 11cm;
  --page-height: 18cm;
  transform-origin: 0% 0%;
}

/* toc  */
.toc {
  width: var(--page-width);
  height: var(--page-height);
  position: relative;
  padding: 1.4cm 0.9cm 1.4cm 1.4cm;
  break-after: always;
  background-image: url();
  background-size: contain;
  margin-bottom: 30px;
  font-size: 12pt;

  background-color: white;
}

/* pages  */
.page {
  width: var(--page-width);
  height: var(--page-height);
  position: relative;
  background-image: url();
  background-size: contain;
  margin-top: 30px;
  font-size: 12pt;
  break-before: always;
  break-after: always;
  overflow-wrap:  break-word;

  background: white;
}

.page:nth-child(n+1):nth-child(odd) {
  padding: 1.3cm 1.1cm 1.2cm 1.4cm;
  background-position: 0mm 1mm;
}

.page:nth-child(n+1):nth-child(even) {
  padding: 1.3cm 1.4cm 1.2cm 1.1cm;
  background-position: -1.5mm 0mm;
}

.page:nth-child(n+1):nth-child(even)::after {
  content: '';
  display: var(--debugPageMargin);
  position: absolute;
  top: 1.3cm;
  left: 1.1cm;
  bottom: 1.2cm;
  right: 1.4cm;

  border: dashed palevioletred 2px;
}

.page:nth-child(n+1):nth-child(odd)::after {
  content: '';
  display: var(--debugPageMargin);
  position: absolute;
  top: 1.3cm;
  left: 1.4cm;
  bottom: 1.2cm;
  right: 1.1cm;

  border: dashed palevioletred 2px;
}

/* header */
.header {
  width:100%;
  position: absolute;
  top:4mm;
  left:0;

  color: black;
  font-weight: 700;
  font-size: 12pt;

  text-transform: uppercase;
  text-align:center;
  letter-spacing: 0pt;
  word-spacing: 0pt;
  line-height: 16pt;
}

/* book name */
.page .book-name {

  position: absolute;
  left: 12mm;
  top: 4mm;
  width: 85mm;
  text-align: left;
  overflow: hidden;

  text-transform: uppercase;
  color: black;
  font-size: 7pt;
  font-weight: 800;
  letter-spacing: 0pt;
  word-spacing: 0pt;
  line-height: 16pt;
}

.page:nth-child(odd) .book-name {
  display: none;
}


/* chapter name  */
.page .chapter-name {
  position: absolute;
  right: 12mm;
  top: 4mm;
  width: 90mm;
  text-align: right;
  overflow: hidden;

  text-transform: uppercase;
  color: black;
  font-size: 7pt;
  font-weight: 800;
  letter-spacing: 0pt;
  word-spacing: 0pt;
  line-height: 16pt;
}

.page:nth-child(even) .chapter-name {
  display: none;
}

/* page number */
.page .page-number {
  position: absolute;
  right: 0.5mm;
  bottom: 5mm;
  width: 50px;
  text-align: center;

  font-family: "gil_b";
  font-size: 11pt;
  font-weight: 900;
}

.page:nth-child(even) .page-number {
  left: 0.5mm;
}

/* text */

.book h1, .book h2, .book h3, .book h4 {
  color: black;
  font-weight: 600;

  letter-spacing: 0pt;
  word-spacing: 0pt;
  line-height: 16pt;
}

.book h1 {
  padding-top: 11mm;
  padding-bottom: 8mm;


  font-size: 12pt;
  text-transform: uppercase;
  text-align: center;
}

.book h2 {
  font-size: 11pt;
  text-transform: uppercase;

  padding-bottom: 10pt;
}

.book p+h2, .paragraph-break+h2 {
  padding-top: 10pt;
}

.book h3 {
  font-size: 12pt;
  padding-bottom: 13pt;
}

.book h4 {
}

.book br{
}

.book p{
  font-size: 10pt;
  line-height: 11.5pt;
  letter-spacing: -0.08pt;
  word-spacing: 0.13pt;

  font-family: serif;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 0pt;
}

.book .paragraph-break{
  display: none;
}

.book .paragraph-break+p {
  text-indent: 1rem;
}

.book blockquote{
  position: relative;
  left: -4mm;
  width: calc(100% + 4mm);
  padding-top: 12pt;
  padding-bottom: 12pt;

  font-size: 10pt;
  font-weight: 600;
  line-height: 11.5pt;
  letter-spacing: -0.08pt;
  word-spacing: 0.13pt;
}

.book blockquote+blockquote {
  padding-top: 0pt;
}

.book .paragraph-break+blockquote {
  padding-top: 0pt;
  text-indent: 1rem;
}

/* images */

.book img {
  position: relative;
  transform-origin: 0% 0%;
  height: inherit;
  width: 100%;
  left: inherit;
  right: inherit;
}

.book .img {
  width: 33%;
  margin: 7pt 0 0 0;
  float: none;

  position: relative;
}

.book .l {
  left: -7pt;
  float: left;
}

.book .l::after {
  content: '';
  display: var(--debugImageBorder);
  position: absolute;
  top: -7pt;
  left: -7pt;
  bottom: -7pt;
  right: 7pt;

  border: dashed orange 1px;
  z-index: 200;
}

.book .r {
  right: -7pt;
  float: right;
}

.book .r::after {
  content: '';
  display: var(--debugImageBorder);
  position: absolute;
  top: -7pt;
  left: 7pt;
  bottom: -7pt;
  right: -7pt;

  border: dashed orange 1px;
  z-index: 200;
}

.img+.l, .R+.l {
  left: -3.5pt;
}

.img+.l, .L+.l {
  right:-3.5pt;
}

.book .img-label::after {
  counter-increment: images;
  content: " " counter(images);
  vertical-align: super;
  font-size: 0.75em;
}

.img-label {
  position: relative;
  left: inherit;
  right: inherit;
  text-align: center;

  padding-top: 1mm;

  font-size: 8pt;
}

.img-label:empty {
   display: none;
}

/* gallery */

.book .gallery {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 7pt 0;

  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-auto-flow: dense;
}

.book .chapter-name+.gallery {
  margin-top: 0;
}

.book .gallery::after {
  content: '';
  display: var(--debugImageBorder);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border: dashed lightblue 2px;
  z-index: 200;
}

.book .img-card {
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  grid-column: span 33;
  grid-row: span 31;

  padding: 1mm 1mm 0 1mm;
  position: relative;
}

.book .img-card::after {
  content: '';
  display: var(--debugImageBorder);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border: dashed lightsalmon 1px;
}

.book .empty {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.book .empty::after {
  content: '';
  display: var(--debugImageBorder);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: mistyrose;
}
