/* ----------------Page Stylesheet---------------- */

/* fonts */

@font-face {
  font-family: "gil";
  src: url("../../static/fonts/gil/gil.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "gil_b";
  src: url("../../static/fonts/gil/gil_cb.ttf");
  font-weight: bold;
}

/* base */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  counter-reset: pageNumber;
}

.book {
  --page-width: 11cm;
  --page-height: 18cm;
  transform-origin: 50% 0%;
}
/* toc  */

.toc {
  width: var(--page-width);
  height: var(--page-height);
  position: relative;
  background-image: url();
  background-size: contain;
  margin-bottom: 30px;
  padding: 1.4cm 0.9cm 1.4cm 1.4cm;
  font-size: 12pt;
  break-after: always;
  position:relative;

  counter-increment: pageNumber;
  /* Page Counter   */

  background-color: white;

  /* DEBUG:  */
  /* background-image: url('../../static/images/ref/Kuma.Kengo_AntiObject_2.png'); */
}

/* phb  */

.phb {
  width: var(--page-width);
  height: var(--page-height);
  position: relative;
  background-image: url();
  background-size: contain;
  margin-top: 30px;
  font-family: "";
  font-size: 12pt;
  break-before: always;
  break-after: always;
  position:relative;

  counter-increment: pageNumber;
  /* Page Counter   */
}

.phb {
  overflow-wrap:  break-word;

  background: white;

  /* DEBUG */
  /* background-image: url() !important; */

}

.phb:nth-child(n+1):nth-child(odd) {
  padding: 1.3cm 1.1cm 1.2cm 1.4cm;
  /* background-image: url('../../static/images/ref/Kuma.Kengo_AntiObject_5.png'); */
  background-position: 0mm 1mm;
}

.phb:nth-child(n+1):nth-child(even) {
  padding: 1.3cm 1.4cm 1.2cm 1.1cm;
  /* background-image: url('../../static/images/ref/Kuma.Kengo_AntiObject_8.png'); */
  background-position: -1.5mm 0mm;
}

/* book name */
.phb .bookName {
  position: absolute;
  left: 12mm;
  top: 4mm;
  width: 40mm;
  text-align: left;

  font-family: "gil";
  text-transform: uppercase;
  color: black;
  font-size: 9pt;
  font-weight: 800;
  letter-spacing: 0pt;
  word-spacing: 0pt;
  line-height: 16pt;
}

.phb:nth-child(odd) .bookName {
  display: none;
}

.header {
  width:100%;
  position: absolute;
  top:4mm;
  left:0;

  font-family: "gil";
  color: black;
  font-weight: 700;
  font-size: 12pt;

  text-transform: uppercase;
  text-align:center;
  letter-spacing: -0.4pt;
  word-spacing: 0pt;
  line-height: 16pt;


}

/* chapter name  */
.phb .chapterName {
  position: absolute;
  right: 12mm;
  top: 4mm;
  width: 40mm;
  text-align: right;

  font-family: "gil";
  text-transform: uppercase;
  color: black;
  font-size: 9pt;
  font-weight: 800;
  letter-spacing: 0pt;
  word-spacing: 0pt;
  line-height: 16pt;
}

.phb:nth-child(even) .chapterName {
  display: none;
}

/* page number */
.phb .pageNumber {
  position: absolute;
  right: 0.5mm;
  bottom: 5mm;
  width: 50px;
  text-align: center;

  font-family: "gil_b";
  font-size: 11pt;
  font-weight: 900;
}

.phb:nth-child(even) .pageNumber {
  left: 0.5mm;
}

.book .pageNumber.auto::after {
  content: counter(pageNumber);
}

/* Text Styling */

.book h1, .book h2, .book h3, .book h4 {
  font-family: "gil";
  color: black;
  font-weight: 700;

  letter-spacing: -0.4pt;
  word-spacing: 0pt;
  line-height: 16pt;
}

.book h1 {
  padding-top: 11mm;
  padding-bottom: 8mm;


  font-size: 12pt;
  text-transform: uppercase;
  text-align: center;
}

.book h2 {
  font-size: 12pt;
  text-transform: uppercase;

  padding-bottom: 13pt;
}

.book h3 {
  font-size: 12pt;
}



.book h4 {
}

.book p{
  font-size: 10pt;
  line-height: 11.5pt;
  letter-spacing: -0.08pt;
  word-spacing: 0.13pt;

  text-justify: none;
  word-wrap:  break-word;
}

.book p+p {
  text-indent: 1rem;
}

.book p+img+p {
  text-indent: 0rem;
}

.book img {
  position: relative;
  transform-origin: 0% 0%;
  width: inherit;
  left: inherit;
  right: inherit;
}

.book .imgL {
  width:35mm;
  left: -4mm;
  margin: 3mm 0mm 1mm 0mm;
  float: left;
  text-align: center;
}

.book .imgR {
  width:35mm;
  right: -4mm;
  margin: 3mm 0mm 1mm 0mm;
  float: right;
  text-align: center;

}

.img-label {
  position: relative;
  left: inherit;
  right: inherit;

  padding-top: 1mm;

  font-size: 8pt;
  font-family: 'gil';
}

.book blockquote{
  position: relative;
  left: -4mm;
  width: calc(100% + 4mm);
  padding-top: 12pt;
  padding-bottom: 12pt;

  font-size: 10pt;
  font-family: 'gil';
  font-weight: bold;
  line-height: 11.5pt;
  letter-spacing: -0.08pt;
  word-spacing: 0.13pt;

  word-wrap: break-word;
}
