/* ----------------Print---------------- */
@media print {

  .book {
    --page-width: 11cm;
    --page-height: 18cm;
  }

  .split-pane, .left-pane{
    display: none;
  }

  .scale-box {
    display: none;
  }

  .toc {
    margin: 0;
  }

  .right-pane {
    display:  contents;
  }

  .preview {
    transform-origin: 0% 0%;
  }

  body,
  html,
  .pages,
  .phb, .toc {
    margin: 0 !important;
    transform: scale(1) !important;
  }
}
