/* ----------------Print---------------- */
@media print {

:root{
  --debugPageMargin: none;
  --debugImageBorder: none;
}

  .book {
    --page-width: 11cm;
    --page-height: 18cm;
  }

  .toolbar,
  .split-pane,
  .left-pane{
    display: none;
  }

  .right-pane {
    display:  contents;
  }

  .preview {
    transform-origin: 0% 0%;
    transform: scale(1) !important;

    padding: 0px;
    /* making sure it doesn't screw the pages */
  }

  body,
  html,
  .page,
  .toc {
    margin: 0 !important;

  }
}
