.grid {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
}

.gallery {
  max-height: 100%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: top;

  padding: 1mm;
}

.image-card {
  min-height: 16.6%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  grid-column: span 30;
  grid-row: span 20;

  padding: 1mm 1mm;
}


.page:nth-child(n+1):nth-child(odd)::after {
  background-color: grey;
  content: '';
  display: block;
  position: absolute;
  top: 1.3cm;
  left: 1.1cm;
  bottom: 1.2cm;
  right: 1.4cm;
  opacity: 50%;
}

.page:nth-child(n+1):nth-child(even)::after {
  background-color: grey;
  content: '';
  display: block;
  position: absolute;
  top: 1.3cm;
  left: 1.4cm;
  bottom: 1.2cm;
  right: 1.1cm;
  opacity: 50%;
}
